<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>String manipulation</title>
  </head>
  <body>
    <div id="app">
      <h1>String manipulation</h1>
        <input type="text" v-model.lazy="word" placeholder="Word">
        <button v-on:click="addWord(word)">Show it</button>
        <ol>
          <li v-for="w in words">
            {{w}}
          </li>
        </ol>
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Firstname</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="w in words">
                <td>{{w}}</td>
              </tbody>
            </table>
          </div>
        </div>
        <script src="js/index.js"></script>
      </body>
    </html>